
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

                                                                                                                                    /*             IMG_LOGO             */
.imagen_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;                 /* ALINEA EL CONTENEDOR */
}

.imagen_logo img {                      /* ALINEA LA IMAGEN */
    height: 40px;      /* largo */
    width: 150px;       /* ancho */
}

                                                                                                                                    /*           BARRA_VAVEGACION           */

.barra_nav {
    background-color: #B8DFE6;
    width: 100%;
    margin: 0px;
    padding: 0;
    border: solid 2px #84c7d2;
}

.listas_barra_nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 5px;
    margin: 0;
    
}

.letra_barr_nav {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: xx-large;
}

                                                                                                                                    /*             BODY             */


.dancing-script-<uniquifier> {                               /* LETRA CUERPO */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    font-family: "Dancing Script";
    font-size: x-large;
    margin: 0px; 
}

/* 
.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
  }

body {
    font-family: "Cedarville Cursive", cursive;
}
*/

.contenido {
    margin: 20px 50px; /* CONTENIDO CON MARGENES Y LA BARRA DE NAVEGACION NO */
}

.edu-vic-wa-nt-<beginner-uniquifier> {          /* LETRA BOTÓN MÁS INFO */
    font-family: "Edu VIC WA NT Beginner", cursive;
  }
  
.btn_info {
    color: rgb(175, 42, 69);
    font-size: small;
    font-family: "Edu VIC WA NT Beginner";
}

.contenedor_img_per {                               /* CONTENEDOR DE LAS IMAGENES DE LOS PERSONAJES  */
    display: flex;
    justify-content: center;
}

.img_pers {
    margin: 0px 10px;
} 

.contenedor_imagen_you {                             /* CONTENEDOR DE LA IMAGEN DE YOUTUBE_SANRIO  */
    display: flex;
    justify-content: center;
}

.imagen_you {
    height: 220px;    /* largo */
    width: 350px;     /* ancho */   
}

.contacto {
    text-align: center;
    color: rgb(101, 7, 7)5, 23, 23);
    padding: 20px 0 20px 0;
}

.contenedor_imagen_final{
    display: flex;
    justify-content: center;
}

.imagen_final {
    height: 80px;
    width: 1200px;
}


* {
    padding: 0;     /* Relleno - "se utiliza para controlar el espacio interno entre el borde de un elemento y su contenido. "*/
    list-style: none;    
}




                                                                                                                                    /*             FOOTER             */

footer {                                               
    padding: 0; /* Relleno - "se utiliza para controlar el espacio interno entre el borde de un elemento y su contenido. " */
    list-style: none;
    background-color: #C5BBDE; /* Ejemplo de color de fondo para el footer */
    color: #fff; /* Color del texto en el footer */
    font-family: "Questrial";
    text-transform: capitalize;  /* PONE LA PRIMERA LETRA DE TODAS LAS PALABRAS EN MAYUSCULAS  */
}

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* 
    box-sizing: border-box;

footer {
    font-family: "Questrial";
    text-transform: capitalize;   PONE LA PRIMERA LETRA DE TODAS LAS PALABRAS EN MAYUSCULAS  
}
*/

.footer_contenedor {               /* para q no se desubique de los 1000 pixeles */
    max-width: 1000px;
    margin: 0 auto;
}

.footer_row {
    display: flex;                  /* para hacer columnas? */
    flex-wrap: wrap;                /* para q minmimizar la pestaña, se bajen, lista por lista.
                                       al contrario de q no tenga la funcion, solo se amontonará sin moverse*/

}

.footer_links {
    width: 25%; /* ANCHO */
    padding: 20px 15px; /* RELLENO - arriba y lados */
}

.footer_links h4 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px; /* RELLENO ABAJO DE, EN ESTE CASO, EL TITULO */
    border-bottom: 2px solid #fff; /* UN BORDE ABAJO     padding-bottom: 10px;  */
    padding-bottom: 5px;
    display: inline-block; /* PARA Q LA LINEA SE AJUSTE AL TEXTO */
}

.footer_links ul li a {
    font-size: small;
    text-decoration: none;
    color: #fff;
    display: block;        /* Junta todo? genera un cuadro de elemento de bloque*/
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer_links ul li a:hover {
    color: #8a70cb;
    padding-left: 15px;
}

.redes_sociales a {
    display: inline-block;
    border-radius: 40%;
    background-color: #fff;
    color: #C5BBDE;
    margin: 2px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    min-width: 40px;
    transition: all .5s ease;
}

.redes_sociales a:hover {
    background-color: #8a70cb;
}

                                                                                                         /*       ARCH. POMPOMPURIN          */ 
.bton_regreso_inicio {
    color: #FBB9C5;
    text-decoration: none;
}

.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-family: "Pompiere";
    font-size: 60px;
  }

.contenedor1_p {
    background-color: gold;
    border: 1px solid rgb(180, 154, 4);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.contenedor2 {
    margin-right: 100px;
    text-align: center;
    padding: 0;
}

.imag_per_p {
    height: 220px;
    width: 200px;
    margin-right: 100px;
    /*  padding-right: 200px; */
}
.contenedor_img_cen {
    text-align: center;
    padding: 0;
}
.imagen_amigos_p {
    height: 140px;    /* largo */
    width: 200px;     /* ancho */    
}

                                                                                                         /*       ARCH. KEROPPI          */ 

.contenedor1_k {
    background-color: greenyellow;
    border: 1px solid rgb(60, 180, 4);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.imag_per_k {
    height: 200px;
    width: 210px;
    margin-right: 100px;
    /*  padding-right: 200px; */
}

.imagen_amigos_k {
    height: 140px;    /* largo */
    width: 200px;     /* ancho */    
}

                                                                                                         /*       ARCH. HELLO KITTY          */ 

 .contenedor1_hk {
    background-color: rgb(255, 47, 47);
    border: 1px solid rgb(180, 4, 4);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.imag_per_hk {
    height: 150px;
    width: 150px;
    margin-right: 100px;
}

.imagen_hk {
    height: 300px;
    width: 350px;
}

.img_producto_hk {
    height: 290px;
    width: 350px;
}

                                                                                                         /*       ARCH. CINNAMOROLL          */ 
 .contenedor1_c {
    background-color: rgb(133, 206, 255);
    border: 1px solid rgb(22, 155, 199);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.imag_per_c {
    height: 250px;
    width: 350px;
    margin-right: 90px;
}

.imagen_rey_c {
    height: 250px;
    width: 370px;
}

.contenedor_img_izq1 {
    display: flex;               /* eestablecer el contenedor como flexbox ???*/
    align-items: center;         /* Alinea los elementos verticalmente al centro */
    justify-content: center;
}

.imagen_amigos_c {
    height: 300px;               /* altura de la imagen */
    width: 220px;               /* ancho de la imagen */
    margin-left: 50px;

}

.texto_amigos_c {
    max-width: 800px;      /* Ajusta el ancho máximo del texto si es necesario */

}

.img_final_c {
    height: 500px;               /* altura de la imagen */
    width: 100%;               /* ancho de la imagen */
}


