@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap');


.imagen_logo {
    text-align: center;                 /* ALINEA EL CONTENEDOR */
}

.imagen_logo img {                      /* ALINEA LA IMAGEN */
    width: 150px;
    height: 40px;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
  }

body {
    font-family: "Cedarville Cursive", cursive;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: darkred;
    padding: 15px 0px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

